html {
  background-color: #676a79;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 16px;
  gap: 16px;
}

.container .area {
  grid-column: 1;
  position: relative;
}

.container .data-view {
  grid-column: 2;
}

form.form-set-position {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
